<section class="section-inicio" id="inicio">
  <h1>Esto es Todo Noticias</h1>
  <div class="conteiner-home">
    <div class="div-hero">
      <p>En Todo Noticias, nos dedicamos a proporcionarte las noticias más relevantes y actuales del mundo. Nuestro equipo de periodistas y expertos trabaja incansablemente para ofrecerte informes precisos y objetivos, cubriendo una amplia gama de temas que incluyen política, economía, tecnología, salud, deportes y cultura.</p>
    </div>
    <div class="noti-heart">
      <img src="/public/img/Todo_Noticias-removebg-preview.png" alt="">
    </div>
  </div>
</section>
<section class="inicio-section">
  <p><em><b>Inicia sesión o regístrate para más acceso... ve 👍</b></em></p>
  <div class="booton">
    <a href="#" data-page="login" class="booton-noti">
      <span class="booton-span">Iniciar sesión</span>
    </a>
    <a href="#" data-page="register" class="booton-noti">
      <span class="booton-span">Registrarse</span>
    </a>
  </div>
</section>
