<section class="formulario-contact">
  <form class="coteiner.formn" id="inicio-form">
    <div class="div-conteiner-form" id="conteiner-register">
      <h2>INICIAR SESIÓN</h2>
      <div class="input_div">
        <input class="form-input" type="email" placeholder="Email" id="email" autocomplete="off"/>
      </div>
      <div class="input_div">
        <input class="form-input" type="password" placeholder="password" id="contraseña" autocomplete="off"/>
      </div>
      <small id="error.inicio"></small>
      <input type="submit" class="booton-noti" value="Iniciar Sesión"/>
      <p>¿No tenés cuenta? <a href="#" data-page="register" class="link-a">Registrate</a></p>
    </div>
  </form>
</section>
<script src="login.js"></script>
