<section class="formulario-contact">
  <form class="coteiner.formn" id="conteiner_form">
    <div class="div-conteiner-form" id="conteiner-register">
      <h2>REGISTRARSE</h2>
      <div class="input_div">
        <input class="form-input" type="text" placeholder="Nombre" id="nombre" autocomplete="off"/>
      </div>
      <div class="input_div">
        <input class="form-input" type="text" placeholder="Apellido" id="apellido" autocomplete="off"/>
      </div>
      <div class="input_div">
        <input class="form-input" type="text" placeholder="Teléfono" id="phone" autocomplete="off"/>
      </div>
      <div class="input_div">
        <input class="form-input" type="email" placeholder="Email" id="email" autocomplete="off"/>
      </div>
      <div class="input_div">
        <input class="form-input" type="password" placeholder="Contraseña" id="contraseña" autocomplete="off"/>
      </div>
      <small id="error.registro"></small>
      <input type="submit" class="booton-noti" value="Registrarse"/>
      <p>¿Ya tienes cuenta? <a href="#" data-page="login" class="link-a">Iniciar sesión</a></p>
    </div>
  </form>
</section>
<script src="register.js"></script>
